.header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  display: flex;
  padding: 4px;
}

.main {
  min-height: calc(100% - 144px);
  height: auto !important;
  max-width: 100%;
}

@media (max-width: 600px) {
  .main {
    min-height: calc(100% - 136px);
  }
}

.footer {
  padding: 16px;
}

.footer-content {
  text-align: center;
  color: #aaa;
  font-size: 0.5rem;
  line-height: 1.0rem;
}
