:host {
  display: grid;
  min-height: 100vh;
  grid-template:
    'header' 64px
    'main' 1fr
    'footer' 64px / 1fr;
  background-color: #fafafa;
}

@media (max-width: 599px) {
  :host {
    grid-template:
      'header' 56px
      'main' 1fr
      'footer' 56px / 1fr;
  }
}

.title {
  flex: 1 0 auto;
}

.icon {
  display: flex;
  padding: 4px;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

main {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 16px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #3f51b5;
  color: #fff;
  font-size: 12px;
}
